<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>居民户籍编辑 - 社区信息管理系统</title>
    <!--<link rel="icon" href="favicon.ico" type="image/ico">-->


    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" th:href="@{~/css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="css/style.css" th:href="@{~/css/style.css}" rel="stylesheet">
</head>
    <body data-logobg="color_8" data-sidebarbg="color_8">
        <div class="layout-web">
            <div class="layout-container">
<!--左侧导航-->
<aside th:replace="commons/bar::#aside"></aside>

<!--头部信息-->
<header th:replace="commons/bar::#header"></header>

<!--页面主要内容-->

<main class="layout-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h4 th:text="${detail!=null}?'修改居民信息':'添加居民信息'">详细信息</h4></div>
                <div class="card-body">

                    <form class="form-horizontal" id="uform" action="#" th:action="@{/detail}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="put" th:if="${detail!=null}">
                        <input type="hidden" name="CimsJuminbId" th:value="${basic.cimsJuminbId}">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">体重</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext1" th:value="${detail!=null}?${detail.CimsJumindWeight}" name="CimsJumindWeight" placeholder="体重..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">身高</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext2" th:value="${detail!=null}?${detail.CimsJumindHeight}" name="CimsJumindHeight" placeholder="身高..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">住址</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext3" th:value="${detail!=null}?${detail.CimsJumindAdressnow}" name="CimsJumindAdressnow" placeholder="住址..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-select">职业</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text"  id="stext4" th:value="${detail!=null}?${detail.CimsJumindVocation}" name="CimsJumindVocation" placeholder="职业..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">联系方式</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext5" th:value="${detail!=null}?${detail.CimsJumindPhone}" name="CimsJumindPhone" placeholder="联系方式..">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">备注</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="example-text-input" th:value="${detail!=null}?${detail.CimsJumindRemarks}" name="CimsJumindRemarks" placeholder="备注..">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" type="submit" th:text="${detail!=null}?'修改':'添加'">修改</button>
                                <a class="btn btn-primary" th:href="@{/basics}">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery.min.js" th:src="@{~/js/jquery.min.js}"></script>
        <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src=".js/perfect-scrollbar.min.js" th:src="@{~/js/perfect-scrollbar.min.js}"></script>
        <script type="text/javascript" src="js/main.js" th:src="@{~/js/main.js}"></script>
        <script type="text/javascript">

            $(".DeleteBtn").click(function () {

                //修改表单地址，即给form添加属性，和上边的del button的th:attr，意义相同 例如xx.attr("action","/emp/id"),然后提交
                $("#DeleteEmpForm").attr("action",$(this).attr("del_uri")).submit()
                return false
            })

            $(function () {
                $("#uform").submit(function () {

                    var a = $("#stext1").val()
                    var b = $("#stext2").val()
                    var c = $("#stext3").val()
                    var d = $("#stext4").val()
                    var e = $("#stext5").val()


                    if (a == "" || b == "" || c == "" || d == "" || e == "") {

                        alert("有空值，不能提交！")
                        return false
                    }
                    if (a != "" && b != "" && c != "" && d != "" && e != "") {
                        alert("修改成功！")
                        return true
                    }
                })
            })
        </script>
</body>
</html>