<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>居民信息 - 社区信息管理系统</title>
<link rel="icon" href="favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
<link href="css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" rel="stylesheet">
<link href="css/materialdesignicons.min.css" th:href="@{~/css/materialdesignicons.min.css}" rel="stylesheet">
<link href="css/style.css" th:href="@{~/css/style.css}" rel="stylesheet">
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
  <div class="layout-container">

    <!--左侧导航-->
    <aside th:replace="commons/bar::#aside"></aside>

    <!--头部信息-->
    <header th:replace="commons/bar::#header"></header>
    
    <!--页面主要内容-->
    <main class="layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header"><h4>居民信息</h4></div>
              <div class="card-body">
                <h5><a class="btn btn-success" href="emp" th:href="@{/basic}">居民信息添加</a></h5>
                <h5>
                  <form class="form-horizontal" id="sform" method="get" th:action="@{/sbasic}">
                    <div class="form-group">
                      <label class="col-xs-12" for="example-text-input">查询居民信息</label>
                      <div class="col-xs-4">
                        <input class="form-control" type="text" id="stext" name="CimsJuminbIdcardnum" placeholder="请输入身份证号..">
                      </div>
                      <button type="submit" id="sbtn" class="btn btn-info btn-sm">查询</button>
                    </div>
                  </form>
                </h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>身份证号</th>
                      <th>姓名</th>
                      <th>性别</th>
                      <th>年龄</th>
                      <th>民族</th>
                      <th>籍贯</th>
                      <th>婚姻状况</th>
                      <th>政治面貌</th>
                      <th>文化程度</th>
                      <th>编辑</th>
                      <th>查看个人详细信息</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr th:each="basic:${basics}">
                    <td th:text="${basic.cimsJuminbIdcardnum}"></td>
                    <td th:text="${basic.cimsJuminbName}"></td>
                    <td th:text="${basic.cimsJuminbSex==1}?'男':'女'"></td>
                    <td th:text="${basic.cimsJuminbAge}"></td>
                    <td th:text="${basic.cimsJuminbNation}"></td>
                    <td th:text="${basic.cimsJuminbAdress}"></td>
                    <td th:text="${basic.cimsJuminbMarriage==1}?'已婚':'未婚'"></td>
                    <td th:text="${basic.cimsJuminbPoliticaloutlook}"></td>
                    <td th:text="${basic.cimsJuminbEducation}"></td>
                    <td>
                      <a class="btn btn-info btn-sm" th:href="@{/basic/}+${basic.CimsJuminbIdcardnum}">编辑</a>
                    </td>
                    <td>
                      <a class="btn btn-success btn-sm" th:href="@{/detail/}+${basic.CimsJuminbId}">查看</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                
               </div>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
<script type="text/javascript" src=".js/perfect-scrollbar.min.js" th:src="@{~/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/main.js" th:src="@{~/js/main.js}"></script>
<script type="text/javascript">

  $(".DeleteBtn").click(function () {

      //修改表单地址，即给form添加属性，和上边的del button的th:attr，意义相同 例如xx.attr("action","/emp/id"),然后提交
      $("#DeleteEmpForm").attr("action",$(this).attr("del_uri")).submit()
      return false
  })
  $(function () {
      $("#sform").submit(function () {

          var a=$("#stext").val()
          if(a==""){

              alert("id不能为空！请重新输入")
              return false
          }
          if(a!=""){
              return true
          }
      })
  })
</script>
</body>
</html>