<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>居民户籍编辑 - 社区信息管理系统</title>
    <!--<link rel="icon" href="favicon.ico" type="image/ico">-->


    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" th:href="@{~/css/materialdesignicons.min.css}" rel="stylesheet">
    <link href="css/style.css" th:href="@{~/css/style.css}" rel="stylesheet">
</head>
    <body data-logobg="color_8" data-sidebarbg="color_8">
        <div class="layout-web">
            <div class="layout-container">
<!--左侧导航-->
<aside th:replace="commons/bar::#aside"></aside>

<!--头部信息-->
<header th:replace="commons/bar::#header"></header>

<!--页面主要内容-->

<main class="layout-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h4 th:text="${basic!=null}?'修改居民信息':'添加居民信息'">添加居民信息</h4></div>
                <div class="card-body">

                    <form class="form-horizontal" id="pform" action="#" th:action="@{/basic}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_method"  value="put" th:if="${basic!=null}">
                        <input type="hidden" name="CimsJuminbId" th:if="${basic!=null}" th:value="${basic.CimsJuminbId}">
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">姓名</label>
                            <div class="col-xs-12">
                                <input class="form-control" readonly type="text" id="example-text-input" th:value="${basic.CimsJuminbName}" name="CimsJuminbName" placeholder="姓名..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">身份证号</label>
                            <div class="col-xs-12">
                                <input class="form-control" readonly type="text" id="example-text-input" th:value="${basic.CimsJuminbIdcardnum}" name="CimsJuminbIdcardnum" placeholder="身份证号..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">年龄</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext1" th:value="${basic.CimsJuminbAge}" name="CimsJuminbAge" placeholder="年龄..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12">性别</label>
                            <div class="col-xs-12 ">
                                <label class="radio-inline">
                                    <input type="radio" id="example-inline-radio1" disabled="" name="CimsJuminbSex" value="1" th:checked="${basic.CimsJuminbSex==1}">
                                    男
                                </label>
                                <label class="radio-inline"  for="example-inline-radio2">
                                    <input type="radio" id="example-inline-radio2" disabled name="CimsJuminbSex" value="0" th:checked="${basic.CimsJuminbSex==0}">
                                    女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-select">民族</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" readonly id="example-text-input" th:value="${basic.CimsJuminbNation}" name="CimsJuminbNation" placeholder="民族..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">籍贯</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext2" th:value="${basic.CimsJuminbAdress}" name="CimsJuminbAdress" placeholder="籍贯..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12">婚姻情况</label>
                            <div class="col-xs-12">
                                <label class="radio-inline"  for="example-inline-radio1 ">
                                    <input type="radio" id="stext3" name="CimsJuminbMarriage" value="1" th:checked="${basic.CimsJuminbMarriage==1}">
                                    已婚
                                </label>
                                <label class="radio-inline"  for="example-inline-radio2">
                                    <input type="radio" id="stext4" name="CimsJuminbMarriage" value="0" th:checked="${basic.CimsJuminbMarriage==0}">
                                    未婚
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">政治面貌</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext5" th:value="${basic.CimsJuminbPoliticaloutlook}" name="CimsJuminbPoliticaloutlook" placeholder="政治面貌..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="example-text-input">文化程度</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="stext6" th:value="${basic.CimsJuminbEducation}" name="CimsJuminbEducation" placeholder="文化程度..">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" type="submit" th:text="${basic!=null}?'修改':'添加'">添加</button>
                                <a class="btn btn-primary" th:href="@{/basics}">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery.min.js" th:src="@{~/js/jquery.min.js}"></script>
        <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src=".js/perfect-scrollbar.min.js" th:src="@{~/js/perfect-scrollbar.min.js}"></script>
        <script type="text/javascript" src="js/main.js" th:src="@{~/js/main.js}"></script>
        <script type="text/javascript">

            $(".DeleteBtn").click(function () {

                //修改表单地址，即给form添加属性，和上边的del button的th:attr，意义相同 例如xx.attr("action","/emp/id"),然后提交
                $("#DeleteEmpForm").attr("action",$(this).attr("del_uri")).submit()
                return false
            })
            $(function () {
                $("#pform").submit(function () {

                    var a=$("#stext1").val()
                    var b=$("#stext2").val()
                    var c=$("#stext3").val()
                    var d=$("#stext4").val()
                    var e=$("#stext5").val()
                    var f=$("#stext6").val()

                    if(a==""||b==""||c==""||d==""||e==""||f==""){

                        alert("有空值，不能提交！")
                        return false
                    }
                    if(a!=""&&b!=""&&c!=""&&d!=""&&e!=""&&f!=""){
                        alert("修改成功！")
                        return true
                    }
                })
            })
        </script>
</body>
</html>